:root {
    --background: White;
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
    --border-radius: 30px;
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkseagreen;
    color: white;
}

main {
    padding: 20px;
}

#name-tag {
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}



#button {
   position: relative;
   background-color: paleturquoise;
    min-height: 30px;
    min-width: 120px;
    border: solid gray 3px;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    
}

#button:hover {
    background-color: peachpuff;
    transition: 0.5s;

}


#name-input {
    border: solid darkseagreen 2px;
    margin-left: 40px;
    
}

#hello, #footer {
    background-color: lightpink;
    
}

#hello {
    height: 70px;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    padding: 15px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    
   
}

#name {
    height: 100px;
    font-size: XX-large;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-wrap: wrap;
}

#footer {
    height: 35px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}
